.features {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 270px;
	height: 120px;
	background-color: var(--accent-background-color);
	border-radius: 4px;
	margin-bottom: 30px;
}

.features__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.features__text {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color-theme-light);
}
