.join {
	display: inline-block;
	margin-right: 93px;
}

.join__text {
	color: var(--primary-text-color-theme-dark);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}